<!DOCTYPE html>
<!-- saved from url=(0042)https://reactheme.com/products/html/saasi/ -->
<html lang="zxx" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">

    <head>
        
    </head>
    <body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0"> 

        <!-- pi wrapper Start Here -->
        <div class="pi-wrapper">
            <div class="pi-wrapper-inner">

                <!-- Pi Breadcrumbs Start -->
                <div class="pi-breadcrumbs">
                    <div class="breadcrumbs-wrap">
                        <%# <img src="./img/blog/banner-inner.jpg" alt="Breadcrumbs Image"> %>
                        <%= image_tag "blog/banner-inner.jpg" %>
                        <div class="breadcrumbs-inner">
                            <div class="container">
                                <%# <img class="pi__inner__shape" src="./img/blog/1.png %>
                                <%= image_tag "blog/1.png", class:"pi__inner__shape" %>alt="Breadcrumbs Image">
                                <div class="breadcrumbs-text">
                                    <h1 class="breadcrumbs-title">Blog</h1>
                                    <div class="pi-nav">
                                        <ul>
                                            <li><a href="https://reactheme.com/products/html/saasi/index.html">Home</a></li>
                                            <li>Blog</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <!-- Pi Breadcrumbs End -->
                
                <!-- Start Blog here -->
                <div class="pi-blog-grid">                    
                    <div class="container">
                        <ul class="row pi-blogs">
                            <li class="col-lg-3 col-md-6" style="display: list-item;">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html">
                                            <%# <img src="./img/blog/1.jpg" alt=""> %>
                                            <%= image_tag "blog/1.jpg" %>
                                        </a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <%# <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>      %>
                                        <a href="<%= blogsingle_path %>">
                                            <h3>What Is An Applicant <br> Tracking System.</h3>
                                        </a>                                   
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> January 14, 2021</em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6" style="display: list-item;">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html">
                                            <%# <img src="./img/blog/2.jpg" alt=""> %>
                                            <%= image_tag "blog/2.jpg" %>
                                        </a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Vsaasi Cloud</span>
                                        <%# <a href="https://reactheme.com/products/html/saasi/blog-single.html"> %>
                                        <a href="<%= blogsingle_path %>">
                                            <h3>Running Cloud Native<br> Applications </h3>
                                        </a>

                                        <em class="pi-blog-date"><i class="far fa-clock"></i> April 13, 2021</em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6" style="display: list-item;">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html">
                                            <%# <img src="./img/blog/3.jpg" alt=""> %>
                                            <%= image_tag "blog/3.jpg" %>
                                        </a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Open API</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>Google Hire is Shutting <br> Down Soon.</h3></a>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> March 22, 2021</em>
                                    </div>
                                </div>
                            </li>

                            <li class="col-lg-3 col-md-6" style="display: list-item;">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html">
                                            <%# <img src="./img/blog/4.jpg" alt=""> %>
                                            <%= image_tag "blog/4.jpg" %>
                                        </a>
                                        <div class="pi-ripple"><a class="pi-popup-video" href="https://www.youtube.com/watch?v=atMUy_bPoQI"><i class="fas fa-play"></i></a></div>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> May 23, 2021 </em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6" style="display: list-item;">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html">
                                            <%# <img src="./img/blog/5.jpg" alt=""> %>
                                            <%= image_tag "blog/5.jpg" %>
                                        </a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> April 23, 2021 </em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6" style="display: list-item;">
                                <div class="pi-inner">                                    
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>
                                        <p>My good sir say bog he nicked it super Jeffrey bite your ar pardon me, the bee's knees tinkety tonk old fruit show off show off pick your nose and blow off owt to do with me hanky panky.</p>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> April 23, 2021 </em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6" style="display: list-item;">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html">
                                            <%# <img src="./img/blog/7.jpg" alt=""> %>
                                            <%= image_tag "blog/7.jpg" %>
                                        </a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> April 23, 2021 </em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6" style="display: list-item;">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html">
                                            <%# <img src="./img/blog/9.jpg" alt=""> %>
                                            <%= image_tag "blog/9.jpg" %>
                                        </a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> April 23, 2021 </em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><img src="./img/blog/10.jpg" alt=""></a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> May 23, 2021 </em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><img src="./img/blog/1.jpg" alt=""></a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> March 23, 2021 </em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><img src="./img/blog/2.jpg" alt=""></a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> April 23, 2021 </em>
                                    </div>
                                </div>
                            </li>
                            <li class="col-lg-3 col-md-6">
                                <div class="pi-inner">
                                    <div class="pi-blog-image">
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><img src="./img/blog/3.jpg" alt=""></a>
                                    </div>
                                    <div class="pi-blog-content">
                                        <span class="pi-category">Cloud Data</span>
                                        <a href="https://reactheme.com/products/html/saasi/blog-single.html"><h3>What Is An Applicant <br> Tracking System.</h3></a>
                                        <em class="pi-blog-date"><i class="far fa-clock"></i> May 23, 2021 </em>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="pi-load-more">
                            <a href="https://reactheme.com/products/html/saasi/blog.html#" id="pi-load">More</a>
                        </div>
                    </div>                    
                </div>
                <!-- End Blog here -->

                <!-- Start CTA here --> 
                <div class="pi-cta">
                    <div class="container">
                        <div class="row pi-v-align">
                            <div class="col-lg-8 col-md-8">
                                <h5>Get your free 14-day trial now!</h5>
                                <h3>Join thousands of developers already using <br> vsaasi. And try it for free!</h3>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <a href="https://reactheme.com/products/html/saasi/blog.html#" class="pi-btn">Try it Free</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End CTA here -->                
            </div>
        </div>
        <!-- pi wrapper End Here -->

        <!-- Scroll to Top Start -->
        <div id="piscrollUp">
            <i class="fa flaticon-back-1"></i>
        </div> 
        <!-- Scroll to Top End -->
    
</body></html>