<!DOCTYPE html>
<!-- saved from url=(0042)https://reactheme.com/products/html/saasi/ -->
<html lang="zxx" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">

    <head>
        
    </head>
    <body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0"> 

        <!-- pi wrapper Start Here -->
        <div class="pi-wrapper">
            <div class="pi-wrapper-inner">

                <!-- Pi Breadcrumbs Start Here -->
                <div class="pi-breadcrumbs">
                    <div class="breadcrumbs-wrap">
                        <%# <img src="./img/about/banner-inner.jpg" alt="Breadcrumbs Image"> %>
                        <%= image_tag "about/banner-inner.jpg" %> 
                        <div class="breadcrumbs-inner">
                            <div class="container">
                                <%# <img class="pi__inner__shape" src="./img/about/1.png" alt="Breadcrumbs Image"> %>
                                <%= image_tag "about/1.png", class:"pi__inner__shape" %> 
                                <div class="breadcrumbs-text">
                                    <h1 class="breadcrumbs-title  wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">About Us</h1>
                                    <div class="pi-nav wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                                        <ul>
                                            <li><a href="https://reactheme.com/products/html/saasi/about.html#">Home</a></li>
                                            <li>About Us</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <!-- Pi Breadcrumbs End Here -->

                <!-- Start Setup here -->
                <div class="pi-setup">
                    <div class="container">
                        <div class="pi-top">
                            <div class="pi-sec-title">
                                <h2 class="pi-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">Easy Setup <br> Get started in 45 seconds</h2>
                                <p class="wow fadeInUp" data-wow-duration="1.7s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.7s; animation-delay: 0.5s; animation-name: fadeInUp;">The key to your success on Fiverr is the brand you build for yourself through.</p>                               
                            </div>
                            <div class="pi-filter wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <button class="active" data-filter="*">Analytics</button>
                                <button data-filter=".filter1">Design</button>
                                <button data-filter=".filter2">Software</button>
                            </div>
                        </div>                        

                        <div class="row pi-grid wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="position: relative; height: 407px; visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">
                            <div class="col-lg-3 col-md-6 grid-item filter1 filter2" style="position: absolute; left: 0%; top: 0px;">
                                <div class="pi-inner-col">
                                    <i class="pi-icon pi-common1">
                                        <%# <img src="./img/about/1(1).png" alt=""> %>
                                        <%= image_tag "about/1(1).png" %> 
                                    </i>
                                    <h3 class="pi-title">Quick setup in five simple steps.</h3>
                                    <a href="https://reactheme.com/products/html/saasi/about.html#"><i class="pi-arrow-btn flaticon-right-arrow"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 grid-item filter1" style="position: absolute; left: 25%; top: 0px;">
                                <div class="pi-inner-col">
                                    <i class="pi-icon pi-common2">
                                        <%# <img src="./img/about/2.png" alt=""> %>
                                        <%= image_tag "about/2.png" %> 
                                    </i>
                                    <h3 class="pi-title">Build a web app With react vsaasi</h3>
                                    <a href="https://reactheme.com/products/html/saasi/about.html#"><i class="pi-arrow-btn flaticon-right-arrow"></i></a>
                                </div>   
                            </div>                            
                            
                            <div class="col-lg-3 col-md-6 grid-item filter1" style="position: absolute; left: 50%; top: 0px;">
                                <div class="pi-inner-col">
                                    <i class="pi-icon pi-common3">
                                        <%# <img src="./img/about/3.png" alt=""> %>
                                        <%= image_tag "about/3.png" %> 
                                    </i>
                                    <h3 class="pi-title">Motion Design in After Effects</h3>
                                    <a href="https://reactheme.com/products/html/saasi/about.html#"><i class="pi-arrow-btn flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6 grid-item filter2" style="position: absolute; left: 75%; top: 0px;">                           
                                <div class="pi-inner-col">
                                    <i class="pi-icon pi-common4">
                                        <%# <img src="./img/about/4.png" alt=""> %>
                                        <%= image_tag "about/4.png" %> 
                                    </i>
                                    <h3 class="pi-title">React Native for Designers</h3>
                                    <a href="https://reactheme.com/products/html/saasi/about.html#"><i class="pi-arrow-btn flaticon-right-arrow"></i></a>
                                </div>    
                            </div>                            
                        </div>
                    </div>
                </div>
                <!-- End Setup here -->
                
                <!-- Start About here -->
                <div class="pi-about pi-about-about">
                    <div class="container">
                        <div class="pi-container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <%# <img class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" src="./img/about/1(2).png" alt="" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">   %>
                                    <%= image_tag "about/1(2).png" , class: "wow fadeInUp"%>   
                                </div>
                                <div class="col-lg-6">
                                    <div class="pi-sec-title">
                                        <i class="wow fadeInUp" data-wow-duration="1.7s" data-wow-delay=".7s" style="visibility: hidden; animation-duration: 1.7s; animation-delay: 0.7s; animation-name: none;">
                                            <%# <img src="./img/about/2(1).png" alt=""> %>
                                            <%= image_tag "about/2(1).png" %> 
                                        </i>
                                        <h2 class="pi-title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.2s; animation-delay: 0.5s; animation-name: none;">UX research documents, all in one place</h2>
                                        <p class="wow fadeInUp" data-wow-duration="1.9s" data-wow-delay=".9s" style="visibility: hidden; animation-duration: 1.9s; animation-delay: 0.9s; animation-name: none;">The key to your success on Fiverr is the brand you build for yourself through your fiverr reputation.</p>
                                        <ul class="pi-list">
                                            <li class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">Strategy &amp; Planning</li>
                                            <li class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">Vsaas Design</li>
                                        </ul>
                                        <a href="https://reactheme.com/products/html/saasi/contact.html" class="pi-btn pi-second wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".7s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: none;">Get started</a>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End About here -->

                <!-- Start Manage here -->
                <div class="pi-managed">
                    <div class="container">
                        
                        <div class="row pi-v-align">
             
                            <div class="col-lg-6">
                                <h2 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">Why vsaasi <br> Cloud?</h2>
                                <p class="wow fadeInUp" data-wow-duration="1.7s" data-wow-delay=".7s" style="visibility: hidden; animation-duration: 1.7s; animation-delay: 0.7s; animation-name: none;">Say cack pukka cheeky bugger cobblers bog nice one wellies cracking goal crikey chimney.</p>
                                <a href="https://reactheme.com/products/html/saasi/contact.html" class="pi-btn wow fadeInUp" data-wow-duration="1.7s" data-wow-delay=".9s" style="visibility: hidden; animation-duration: 1.7s; animation-delay: 0.9s; animation-name: none;">Get Started</a>
                            </div>
                            <div class="col-lg-6">
                                <div class="pi-box">
                                    <span class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">Simple, Managed vsaasi</span>
                                    <ul class="wow fadeInUp" data-wow-duration="1.7s" data-wow-delay=".7s" style="visibility: hidden; animation-duration: 1.7s; animation-delay: 0.7s; animation-name: none;">
                                        <li>Release faster</li>
                                        <li>Free 30-day trial</li>
                                        <li>Analytics</li>
                                        <li>Application portability</li>
                                        <li>Lower costs</li>
                                    </ul>
                                    <a href="https://reactheme.com/products/html/saasi/contact.html" class="pi-btn wow fadeInUp" data-wow-duration="1.7s" data-wow-delay=".7s" style="visibility: hidden; animation-duration: 1.7s; animation-delay: 0.7s; animation-name: none;">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div id="layer8" class="layer8" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
                            <div data-depth="0.10" style="transform: translate3d(-2px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                                <%# <img class="pi-absolute layer-woman" src="./img/about/woman.png" alt=""> %>
                                <%= image_tag "about/woman.png" , class: "pi-absolute layer-woman"%> 
                            </div>
                        </div>
                    </div>                  
                    
                </div>
                <!-- End Manage here -->

                <!-- Start awards here -->
                <div class="pi-awards pi-awards-about">
                    <div class="container">
                        <div class="pi-container">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="pi-sec-title">
                                        <h2 class="pi-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">The awards won <br> by our project.</h2>
                                        <p class="wow fadeInUp" data-wow-duration="1.7s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.7s; animation-delay: 0.5s; animation-name: none;">The key to your success on Fiverr is the brand you build for yourself through your.</p>                            
                                    </div>   
                                </div>
                                <div class="col-lg-7">
                                    <ul class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/about.html#">
                                                <%# <img src="./img/about/logo1.png" alt=""> %>
                                                <%= image_tag "about/logo1.png" %> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/about.html#">
                                                <%# <img src="./img/about/logo2.png" alt=""> %>
                                                <%= image_tag "about/logo2.png" %> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/about.html#">
                                                <%# <img src="./img/about/logo3.png" alt=""> %>
                                                <%= image_tag "about/logo3.png" %> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/about.html#">
                                                <%# <img src="./img/about/logo4.png" alt=""> %>
                                                <%= image_tag "about/logo4.png" %> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/about.html#">
                                                <%# <img src="./img/about/logo5.png" alt=""> %>
                                                <%= image_tag "about/logo5.png" %> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/about.html#">
                                                <%# <img src="./img/about/logo6.png" alt=""> %>
                                                <%= image_tag "about/logo6.png" %> 
                                            </a>
                                        </li>
                                    </ul>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End awards here -->

                <!-- Start Join here -->
                <div class="pi-join pi-join-about">
                    <div class="container">
                        <div class="pi-container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="pi-inner-col pi-box-1 aos-init" data-aos="fade-up">
                                        <%# <img src="./img/about/1(3).png" alt=""> %>
                                        <%= image_tag "about/1(3).png" %> 
                                        <h3>Join as Designer</h3>
                                        <p>Why I say old chap that is spiffing   chav naff Jeffrey bugger sloshed chimney pot harry.</p> 
                                        <a href="https://reactheme.com/products/html/saasi/about.html#">Read More <i class="pi-arrow-btn flaticon-right-arrow"></i></a>                   
                                    </div>   
                                </div>
                                <div class="col-lg-6">
                                    <div class="pi-inner-col pi-box-2 aos-init" data-aos="fade-up" data-aos-delay="200">
                                        <%# <img src="./img/about/2(2).png" alt=""> %>
                                        <%= image_tag "about/2(2).png" %> 
                                        <h3>Join as Developer</h3>
                                        <p>Why I say old chap that is spiffing   chav naff Jeffrey bugger sloshed chimney pot harry.</p> 
                                        <a href="https://reactheme.com/products/html/saasi/about.html#">Read More <i class="pi-arrow-btn flaticon-right-arrow"></i></a>                   
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Join here -->                            
            </div>
        </div>
        <!-- pi wrapper End Here -->

        <!-- Scroll to Top Start -->
        <div id="piscrollUp">
            <i class="fa flaticon-back-1"></i>
        </div> 
        <!-- Scroll to Top End -->
    
</body></html>