<!DOCTYPE html>
<!-- saved from url=(0042)https://reactheme.com/products/html/saasi/ -->
<html lang="zxx" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">

    <head>
        
    </head>
    <body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0"> 

        <!-- pi wrapper Start Here -->
        <div class="pi-wrapper">
            <div class="pi-wrapper-inner">

                <!-- Pi Breadcrumbs Start -->
                <div class="pi-breadcrumbs">
                    <div class="breadcrumbs-wrap">
                        <%# <img src="./img/how_it_works/banner-inner.jpg" alt="Breadcrumbs Image"> %>
                        <%= image_tag "how_it_works/banner-inner.jpg" %>
                        <div class="breadcrumbs-inner">
                            <div class="container">
                                <%# <img class="pi__inner__shape" src="./img/how_it_works/1.png" alt="Breadcrumbs Image"> %>
                                <%= image_tag "how_it_works/1.png" , class: "pi__inner__shape"%> 
                                <div class="breadcrumbs-text">
                                    <h1 class="breadcrumbs-title">How it work</h1>
                                    <div class="pi-nav">
                                        <ul>
                                            <li><a href="https://reactheme.com/products/html/saasi/index.html">Home</a></li>
                                            <li>Our Services</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <!-- Pi Breadcrumbs End -->

                <!-- Start Services here -->
                <div class="pi-services pt-110">
                    <div class="container">
                        <div class="pi-sec-title">
                            <h2 class="pi-title">Why Clever <br> Cloud is Different </h2>                              
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4"> 
                                <ul class="pi-service-filter nav nav-tabs tabs-left sideways">
                                    <li><a class="active" href="https://reactheme.com/products/html/saasi/services.html#tab1" data-toggle="tab">Work with Git</a></li>
                                    <li><a href="https://reactheme.com/products/html/saasi/services.html#tab2" data-toggle="tab">Full Kubernetes API</a></li>
                                    <li><a href="https://reactheme.com/products/html/saasi/services.html#tab3" data-toggle="tab">Auto-scaling</a></li>
                                    <li><a href="https://reactheme.com/products/html/saasi/services.html#tab4" data-toggle="tab">Managed services</a></li>
                                    <li><a href="https://reactheme.com/products/html/saasi/services.html#tab5" data-toggle="tab">Autoscaling</a></li>
                                    <li><a href="https://reactheme.com/products/html/saasi/services.html#tab6" data-toggle="tab">Security</a></li>
                                    <li><a href="https://reactheme.com/products/html/saasi/services.html#tab7" data-toggle="tab">Active Monitoring</a></li>
                                    <li><a href="https://reactheme.com/products/html/saasi/services.html#tab8" data-toggle="tab">Service mesh</a></li>
                                </ul>                                                                                          
                            </div>                                
                            <div class="col-lg-9 col-md-8 pi-pl">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <div class="row pi-service-grid">
                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/5.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/5.png" %>
                                                    <h3 class="pi-title">Productivity</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>  

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/6.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/6.png" %>
                                                    <h3 class="pi-title">Cloud platform</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/7.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/7.png" %>
                                                    <h3 class="pi-title">Compute engine</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/8.png" alt="">                                   %>
                                                    <%= image_tag "how_it_works/8.png" %>
                                                    <h3 class="pi-title">Scalability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/9.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/9.png" %>
                                                    <h3 class="pi-title">Portability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/10.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/10.png" %>
                                                    <h3 class="pi-title">High availability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>                           
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <div class="row pi-service-grid">
                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/5.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/5.png" %>
                                                    <h3 class="pi-title">App Development</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>  

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/6.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/6.png" %>
                                                    <h3 class="pi-title">Productivity</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/7.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/7.png" %>
                                                    <h3 class="pi-title">Customization</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/8.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/8.png" %>
                                                    <h3 class="pi-title">UI/UX Branding</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/9.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/9.png" , class: "pi__inner__shape"%>
                                                    <h3 class="pi-title">Customer Support</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/10.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/10.png" %>
                                                    <h3 class="pi-title">Productivity</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>                           
                                        </div>    
                                    </div>
                                    <div class="tab-pane" id="tab3">
                                        <div class="row pi-service-grid">
                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/5.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/5.png" %>
                                                    <h3 class="pi-title">Productivity</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>  

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/6.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/6.png" %>
                                                    <h3 class="pi-title">Cloud platform</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/7.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/7.png" %>
                                                    <h3 class="pi-title">Compute engine</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/8.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/8.png" %>
                                                    <h3 class="pi-title">Scalability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/9.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/9.png" %>
                                                    <h3 class="pi-title">Portability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>                           
                                        </div>   
                                    </div>
                                    <div class="tab-pane" id="tab4">
                                        <div class="row pi-service-grid">
                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/5.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/5.png" %>
                                                    <h3 class="pi-title">App Development</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>  

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/6.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/6.png" %>
                                                    <h3 class="pi-title">Productivity</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/7.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/7.png" %>
                                                    <h3 class="pi-title">Customization</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/8.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/8.png" %>
                                                    <h3 class="pi-title">UI/UX Branding</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/9.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/9.png" %>
                                                    <h3 class="pi-title">Customer Support</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/10.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/10.png" %>
                                                    <h3 class="pi-title">High availability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>                           
                                        </div>    
                                    </div>
                                    <div class="tab-pane" id="tab5">
                                        <div class="row pi-service-grid">
                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/5.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/5.png" %>
                                                    <h3 class="pi-title">Productivity</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>  

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/6.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/6.png" %>
                                                    <h3 class="pi-title">Cloud platform</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/7.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/7.png" %>
                                                    <h3 class="pi-title">Compute engine</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/8.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/8.png" %>
                                                    <h3 class="pi-title">Scalability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/9.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/9.png" %>
                                                    <h3 class="pi-title">Portability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>                           
                                        </div>    
                                    </div>
                                    <div class="tab-pane" id="tab6">
                                        <div class="row pi-service-grid">
                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/5.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/5.png" %>
                                                    <h3 class="pi-title">App Development</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>  

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/6.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/6.png" %>
                                                    <h3 class="pi-title">Productivity</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/7.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/7.png" %>
                                                    <h3 class="pi-title">Customization</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/8.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/8.png" %>
                                                    <h3 class="pi-title">UI/UX Branding</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/9.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/9.png" %>
                                                    <h3 class="pi-title">Customer Support</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/10.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/10.png" %>
                                                    <h3 class="pi-title">High availability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>                          
                                        </div>     
                                    </div>
                                    <div class="tab-pane" id="tab7">
                                        <div class="row pi-service-grid">
                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/5.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/5.png" %>
                                                    <h3 class="pi-title">Productivity</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>  

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/6.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/6.png" %>
                                                    <h3 class="pi-title">Cloud platform</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/7.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/7.png" %>
                                                    <h3 class="pi-title">Compute engine</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/8.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/8.png" %>
                                                    <h3 class="pi-title">Scalability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/9.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/9.png" %>
                                                    <h3 class="pi-title">Portability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>                           
                                        </div>   
                                    </div>
                                    <div class="tab-pane" id="tab8">
                                        <div class="row pi-service-grid">
                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/5.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/5.png" %>
                                                    <h3 class="pi-title">App Development</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>  

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/6.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/6.png" %>
                                                    <h3 class="pi-title">Productivity</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/7.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/7.png" %>
                                                    <h3 class="pi-title">Multiple Managers</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/8.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/8.png" %>
                                                    <h3 class="pi-title">UI/UX Branding</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div> 

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/9.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/9.png" %>
                                                    <h3 class="pi-title">Customer Support</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 grid-item">
                                                <div class="pi-inner-col">
                                                    <%# <img src="./img/how_it_works/10.png" alt="">                                        %>
                                                    <%= image_tag "how_it_works/10.png" %>
                                                    <h3 class="pi-title">High availability</h3>
                                                    <p>Tinkety tonk old fruit knackered barmy cor blimey.</p>
                                                </div>
                                            </div>                           
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Services here -->

                <!-- Start UX here -->               
                <div class="pi-ux-design">
                    <div class="containers offset-lg-2">
                        <div class="pi-sec-title">
                            <h2 class="pi-title">Meet our <br> UX design tools</h2>
                            <p>The key to your success on Fiverr is the brand you build for yourself through your fiverr reputation.</p>
                        </div>
                        <ul class="pi-ux-slider slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow slick-disabled" aria-label="Previous" role="button" aria-disabled="true" style="display: block;">Previous</button>
                            <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 1815px; transform: translate3d(0px, 0px, 0px);"><li class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 565px;">
                                <div class="pi-top">
                                    <ul>
                                        <li>
                                            <h5>Figma</h5>
                                            <p>Cheeky lost the plot tinkety tonk old fruit haggle what a load of rubbish.</p>
                                        </li>
                                        <li>
                                            <h5>3.4x</h5>
                                            <p>Faser Response Time</p>
                                        </li>  
                                    </ul>
                                    <div class="pi-dsc">
                                        <div class="pi-icon"> 
                                            <%# <img src="./img/how_it_works/1(1).png" alt=""> %>
                                            <%= image_tag "how_it_works/1(1).png" %>
                                        </div>
                                        <div class="pi-task"> 
                                            <p>Task Activity</p>
                                            <strong>3456.72</strong> 
                                        </div>
                                    </div>                                 
                                </div>
                                <div class="pi-image">
                                    <%# <img src="./img/how_it_works/2.png" alt=""> %>
                                    <%= image_tag "how_it_works/2.png" %>
                                </div>
                            </li><li class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 565px;">
                                <div class="pi-top">
                                    <ul>
                                        <li>
                                            <h5>Slack</h5>
                                            <p>Cheeky lost the plot tinkety tonk old fruit haggle what a load of rubbish.</p>
                                        </li>
                                        <li>
                                            <h5>42.m</h5>
                                            <p>Faser Response Time</p>
                                        </li>  
                                    </ul>
                                    <div class="pi-dsc">
                                        <div class="pi-icon"> 
                                            <%# <img src="./img/how_it_works/4.png" alt=""> %>
                                            <%= image_tag "how_it_works/4.png" %>
                                        </div>
                                        <div class="pi-task"> 
                                            <p>Task Activity</p>
                                            <strong>3456.72</strong> 
                                        </div>
                                    </div>                                 
                                </div>
                                <div class="pi-image">
                                    <%# <img src="./img/how_it_works/3.png" alt=""> %>
                                    <%= image_tag "how_it_works/3.png" %>
                                </div>
                            </li><li class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 565px;">
                                <div class="pi-top">
                                    <ul>
                                        <li>
                                            <h5>Figma</h5>
                                            <p>Cheeky lost the plot tinkety tonk old fruit haggle what a load of rubbish.</p>
                                        </li>
                                        <li>
                                            <h5>3.4x</h5>
                                            <p>Faser Response Time</p>
                                        </li>  
                                    </ul>
                                    <div class="pi-dsc"> 
                                        <p>Task Activity</p>
                                        <strong>3456.72</strong> 
                                    </div>                                 
                                </div>
                                <div class="pi-image">
                                    <%# <img src="./img/how_it_works/2.png" alt=""> %>
                                    <%= image_tag "how_it_works/2.png" %>
                                </div>
                            </li></div></div>
                            
                            
                        <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;" aria-disabled="false">Next</button></ul>
                    </div>
                </div>             
                <!-- End UX here --> 

                <!-- Start What you get here -->
                <div class="pi-about pi-about-two pi-services-two">
                    <div class="container">
                        <div class="pi-container pt-120">
                            <div class="row">
                                <div class="col-lg-6">
                                    <%# <img class="banner-tw" src="./img/how_it_works/3(1).png" alt="">   %>
                                    <%= image_tag "how_it_works/3(1).png", class: "banner-tw" %>
                                    <div class="pi__shape_bg6" data-paroller-factor="-0.2" style="background: url(&quot;assets/images/about/4.png&quot;) center 0px no-repeat;">
                                    </div> 
                                    <%# <img class="pi___animate pi-absolute wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" src="./img/how_it_works/7(1).png" alt="" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">   %>
                                    <%= image_tag "how_it_works/7(1).png", class: "pi___animate pi-absolute wow fadeInUp", style: "visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;"%>
                                </div>
                                <div class="col-lg-6 pi-col-6">
                                    <div class="pi-sec-title">
                                        <h2 class="pi-title">What you get <br> with vsaasi.</h2>
                                        <p>The key to your success on Fiverr is the brand you build for yourself through your fiverr reputation.</p>
                                        <ul class="pi-list-arrow">
                                            <li>Instant number setup</li>
                                            <li>Client Accounts</li>
                                            <li>Local numbers</li>
                                            <li>Visitor &amp; Keyword-Level Trackin</li>
                                            <li>International pone numbers</li>
                                            <li>Unlimited User Accounts</li>
                                            <li>Call recording</li>
                                            <li>Email Summaries</li>
                                        </ul>
                                        <a href="https://reactheme.com/products/html/saasi/contact.html" class="pi-btn-border">Buy Now</a>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End What you get here -->

                <!-- Start awards here -->
                <div class="pi-awards pi-awards-about pb-120 mt--20">
                    <div class="container">
                        <div class="pi-container">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="pi-sec-title">
                                        <h2 class="pi-title">The awards won <br> by our project.</h2>
                                        <p>The key to your success on Fiverr is the brand you build for yourself through your.</p>                            
                                    </div>   
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/services.html#">
                                                <%# <img src="./img/how_it_works/logo1.png" alt=""> %>
                                                <%= image_tag "how_it_works/logo1.png" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/services.html#">
                                                <%# <img src="./img/how_it_works/logo2.png" alt=""> %>
                                                <%= image_tag "how_it_works/logo2.png" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/services.html#">
                                                <%# <img src="./img/how_it_works/logo3.png" alt=""> %>
                                                <%= image_tag "how_it_works/logo3.png" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/services.html#">
                                                <%# <img src="./img/how_it_works/logo4.png" alt=""> %>
                                                <%= image_tag "how_it_works/logo4.png" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/services.html#">
                                                <%# <img src="./img/how_it_works/logo5.png" alt=""> %>
                                                <%= image_tag "how_it_works/logo5.png" %>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://reactheme.com/products/html/saasi/services.html#">
                                                <%# <img src="./img/how_it_works/logo6.png" alt=""> %>
                                                <%= image_tag "how_it_works/logo6.png" %>
                                            </a>
                                        </li>
                                    </ul>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End awards here -->             
            </div>
        </div>
        <!-- pi wrapper End Here -->

        <!-- Scroll to Top Start -->
        <div id="piscrollUp">
            <i class="fa flaticon-back-1"></i>
        </div> 
        <!-- Scroll to Top End -->
    
</body></html>